/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName: SPARK_STARTMANAGER {
        errorStrategy = 'terminate'
        ext.spark_local_dir = params.spark_local_dir ? params.spark_local_dir : ''
        ext.sleep_secs = 2
    }

    withName: SPARK_STARTWORKER {
        errorStrategy = 'terminate'
        ext.sleep_secs = 2
    }

    withName: SPARK_WAITFORMANAGER {
        errorStrategy = 'terminate'
        ext.sleep_secs = 2
        ext.max_wait_secs = 7200
    }

    withName: SPARK_WAITFORWORKER {
        errorStrategy = 'terminate'
        ext.sleep_secs = 2
        ext.max_wait_secs = 7200
    }

    withName: SPARK_TERMINATE {
        errorStrategy = 'terminate'
    }

    withName: RS_FISH {
        errorStrategy = 'terminate'
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'copy',
            pattern: '*.csv'
        ]
        ext.args = [
            "--minIntensity=${params.min_intensity}",
            "--maxIntensity=${params.max_intensity}",
            "--anisotropy=${params.anisotropy}",
            "${params.rsfish_opts}"
        ].join(' ')
    }

}
